<div class="container">
  <header id="backBtnContainer">
    <h2 class="left">
      <%= t('.list_of_responses', :survey_name => @survey.name) %>
    </h2>
    <%= link_to icon_for('icon-table', t('.download_excel')), 'javascript:void(0);', :class => 'download_excel Btn colrBtn right' if @complete_responses_count > 0 && can?(:generate_excel, @survey) %>
    <%= link_to icon_for('icon-plus', t('.add_response')), survey_responses_path(@survey), :method => :post, :class => 'add_response Btn colrBtn right inline-btn' if can?(:create, Response.new(:survey => @survey)) && !@survey.expired? %>
    <a  class="searchBtn right"></a>
  </header>
  <div class="blue_tabs">
    <ul class="tab-links">
      <li >
        <%= link_to  t('edit'), survey_build_path(@survey.id) if can? :build, @survey %>
        <!-- <a href="#tab01"><%= t "edit" %></a> -->
      </li>
      <li ><%= link_to t("overview"), survey_dashboard_index_path(@survey.id) if can?(:view_survey_dashboard, @survey) %></li>
      <li class="active">
        <%= link_to t("Responses"), survey_responses_path(@survey.id)  if can?(:read, @survey) %>
        <!-- <a href="#tab03"><%= t "Responses" %></a> -->
      </li>
      <li>
        <!-- <a href="#tab04"><%= t "Reports" %></a> -->
        <%= link_to t('reports'), report_survey_path(@survey.id) if can?(:report, @survey) && @survey.finalized? %>
      </li>
    </ul>
  </div>
  <div>
    <% unless @responses.blank? %>
      <div class="pager">        
        <%= will_paginate @responses ,:page_links => false %>
        <div class="page_info">
          <%= page_entries_info @responses %>
        </div>
        <div class="clear"></div>
      </div>
      <!-- <div id="pager1" class="pager">
        <form>
          <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
          <input type="text" value="1-10 of 14" class="pagedisplay"/>
          <%= image_tag "prev.svg" , class: "prev"  %>
          <%= image_tag "next.svg" , class: "next"  %>
        </form>
      </div> -->
      <div class="survey-list-heading responses-list-heading">
        <ul>
          <% @survey.identifier_questions.take(2).each do |question| %>
            <li class="rightBorder"><%= question.content %></li>
          <% end %>
          <li class="rightBorder"><%= t("activerecord.attributes.response.location") %></li>
          <li class="rightBorder"><%= t(".last_updated_at") %></li>
          <li class="rightBorder"><%= t(".added_by") %></li>
          <li>Status</li>
        </ul>
        <div class="clear"></div>
      </div>
          
            <% @responses.each do |response| %>
              <%= puts response.inspect %>
              <div class="survey-row responce-row">
                <div class="survey-info">
                  <ul>
                    <% @survey.identifier_questions.take(2).each_with_index do |question , index| %>
                      <% answer = Answer.find_by_response_id_and_question_id(response.id, question.id) %>
                      <li class="">
                        <% if index <= 0  %>
                          <span class="radio-btn-wrapper">
                            <input type="radio" id="response-<%= response.id %>" name="surveys" class="regular-radio survey-action-radio" />
                            <label for="response-<%= response.id %>"></label>
                          </span>
                        <% end %>
                        <% if answer.blank? %>
                          <!-- Patching this bug. Does not solve the issue, but at least the page doesn't bomb. -->
                          <!-- https://www.pivotaltracker.com/story/show/53539811 -->
                          <!-- TODO: Remove this when the bug is fixed. -->
                          <%= t(".no_answer_present") %>
                        <% elsif answer.photo_url.present? %>
                          <%= image_tag answer.photo_url(:format => :thumb), :class => 'thumb' %>
                        <% else %>
                          <%= answer.content %>
                        <% end %>
                      </li>
                    <% end %>
                    <li><%= response.location %></li>
                    <li><%= I18n.localize(response.last_update) %></li>
                    <li><%= @users.find_by_id(response.user_id).name if response.user_id %></li>
                    <li>
                      <% if response.status == 'complete' %>
                        <span class="status"><%= t('.complete') %></span>
                      <% else %>
                        <span class="status"><%= t('.incomplete') %></span>
                      <% end %>
                    </li>
                  </ul>
                  <div class="clear"></div>
                </div>
                <div class="survey-actions actions">
                  <ul class="listOf-survey-actions">
                    <%= link_to icon_for('icon-edit', 'Show'), survey_response_path(:id => response.id), :class => 'show_response Btn nrmlBtn inline-btn' if can? :show, response %>
                    <%= link_to icon_for('icon-edit', 'Edit'), edit_survey_response_path(:id => response.id), :class => 'edit_response Btn nrmlBtn inline-btn' if can? :edit, response %>
                    <%= link_to icon_for('icon-remove', 'Delete'), survey_response_path(:id => response.id), :method => :delete, :class => 'delete_response Btn nrmlBtn inline-btn', :data => { :confirm => t(:confirm) } if can? :destroy, response %>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>
          <%= render "responses/excel_dialog" %>
          <%= render "responses/excel_password_dialog" %>
        </div>
      </div>
      <script type="text/javascript">
        new SurveyApp.ExcelDownloader($("#excel-dialog"), $(".download_excel"), <%= @survey.id %>)
      </script>
